<ion-header>
  <ion-toolbar color=primary>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-item>
    <label for="foto">
      <img id="icon" src="./assets/camera.svg" width=50>
    </label>
    <input id="foto" type="file" name="foto" accept="image/*" capture="camera" />
  </ion-item>
  <ion-input [(ngModel)]="marca" placeholder="Marca"></ion-input>
  <ion-input [(ngModel)]="modelo" placeholder="Modelo"></ion-input>
  <ion-input [(ngModel)]="year" placeholder="Año"></ion-input>
  <ion-input [(ngModel)]="precio" placeholder="Precio"></ion-input>
  <ion-button (click)="addMoto()"  expand="block" color="primary">Enviar</ion-button>
</ion-content>
