<ion-header>
  <ion-toolbar color=primary>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle Moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content name="modelo" ngDefaultControl [(ngModel)]="data">
  <ion-card>
    <img src="{{data.foto}}"/>
    <ion-card-header>
      <ion-card-subtitle>{{data.marca}}</ion-card-subtitle>
      <ion-card-title>{{data.modelo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
    <ion-button color="warning" (click)="deleteMoto()" >Borrar Moto</ion-button>
  </ion-card>
</ion-content>
