<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Filtra por marca</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item  (click)="getJson('ducati')" >
        <ion-avatar slot="start">
          <img src="./assets/img/ducati.png">
        </ion-avatar>
        <ion-label>Ducati</ion-label>
      </ion-item>
      <ion-item  (click)="getJson('yamaha')">
        <ion-avatar slot="start">
          <img src="./assets/img/yamaha.png">
        </ion-avatar>
        <ion-label>Yamaha</ion-label>
      </ion-item>
      <ion-item  (click)="getJson('honda')">
        <ion-avatar slot="start">
          <img src="./assets/img/honda.png">
        </ion-avatar>
        <ion-label>Honda</ion-label>
      </ion-item>
      <ion-item  (click)="getJson('todas')">
        <ion-label>Todas</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Escoge tu moto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-router-outlet id="main"></ion-router-outlet>
<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)=addMoto()>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div>

    <ion-list *ngFor="let moto of motos;let i = index;">
      <ion-item  (click)="pasoParametro(i)">
        <ion-avatar slot="start" >
          <img src="{{moto.foto}}">
        </ion-avatar>
        <ion-label>{{moto.modelo}}</ion-label>
      </ion-item>
    </ion-list>

  </div>
  
</ion-content>
